@page
@model SWEProject.Pages.RecipeModel
@{
    ViewData["Title"] = "Recipe";
}

<h1>@Model.recipe.Name</h1>
    <p>@Model.recipe.Description</p>
<hr>
<h2>Ingredients</h2>
<div>
    @foreach (var i in @Model.recipe.Ingredients)
    {
        @i<br/>
    }
</div>
<hr>
@Model.recipe.Directions

