@page
@model SWEProject.Pages.RecipeModel
@{
    ViewData["Title"] = "Recipe";
}
@foreach (var i in @Model.filePaths)
{
    <a href="Recipe?handler=viewRecipe&recipeName=@i" type="nav-link">@System.IO.Path.GetFileName(@i)</a><br/>
}
<hr>
<h1>@Model.recipe.Name</h1>
    <p>@Model.recipe.Description</p>
<hr>
<h2>Ingredients</h2>
<div>
    @foreach (var i in @Model.recipe.Ingredients)
    {
        @i<br/>
    }
</div>
<hr>

@foreach (var i in @Model.recipe.Directions)
{
    @i<br />
}

@*@foreach (var i in @Model.filecontent)
{
    @i<br />
}*@

