@page
@model SWEProject.Pages.RecipeModel
@{
    ViewData["Title"] = "Recipe";
}

@*sidebar*@
<div class="sidenav">
    @foreach (var i in @Model.filePaths)
    {
        <a href="Recipe?handler=viewRecipe&recipeName=@i" type="nav-link">@System.IO.Path.GetFileName(@i).Replace(".txt", "").Replace("_", " ")</a>

        <br />
    }
</div>

<style>
    .sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #818181;
        overflow-x: clip;
        padding-top: 20px;
    }

        .sidenav a {
            padding: 6px 6px 6px 6px;
            text-decoration: none;
            font-size: 18px;
            color: #f1f1f1;
            display: block;
        }

</style>

@*recipe*@
<h1>@Model.recipe.Name</h1>
    <p>@Model.recipe.Description</p>
<hr>
<h2>Ingredients</h2>
<div>
    @foreach (var i in @Model.recipe.Ingredients)
    {
        @i<br/>
    }
</div>
<hr>

@foreach (var i in @Model.recipe.Directions)
{
    @i<br />
}

